<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.itcast.hjh.product.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/product/src/main/java" />
        <option name="javaModelPackage" value="com.itcast.hjh.product.pojo" />
        <option name="javaModelPath" value="$PROJECT_DIR$/product/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="product" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="product">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.itcast.hjh.product.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/product/src/main/java" />
                  <option name="javaModelPacakge" value="com.itcast.hjh.product.pojo" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/product/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.itcast.hjh.product.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/product/src/main/java" />
                  <option name="javaServicePackage" value="com.itcast.hjh.product.service.serviceImpl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/product/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/product/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="sell:order_detail">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="OrderDetail" />
                  <option name="moduleName" value="product" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="sell:order_master">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="OrderMaster" />
                  <option name="moduleName" value="product" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="sell:product_category">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="category_id" />
                  <option name="javaModelName" value="ProductCategory" />
                  <option name="moduleName" value="product" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="sell:product_info">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="ProductInfo" />
                  <option name="moduleName" value="product" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="sell:sell_config">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="SellConfig" />
                  <option name="moduleName" value="product" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useExample" value="true" />
        <option name="useLomBokOnModel" value="true" />
        <option name="useSwagger" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/product/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>